* {
    box-sizing: border-box;
    font-family: sans-serif;

}

.nav {
    display: flex;
    align-items: center;
}

.header__block {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header__list {
    display: flex;
    gap: 30px;
    padding: 0;
    list-style: none;
}

.avatar {
    display: flex;
}

.container {
    max-width: 1240px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}